/*! github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in, //sass-lint:disable-line class-name-format
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@import 'frontwork/config-sample';
@import 'frontwork/all';

// global
$font-color: #2c3e50;
$light-font-color: #777;
$link-color: #18bc9c;
$code-color: #f8f8f8;
$background-color: #f5f5f5;

// theme-main
@include media-query-asc {
  @if $query == 0 {
    html {
      color: $font-color;
    }

    h6 {
      color: $light-font-color;
    }

    code {
      font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      background-color: $code-color;
      padding-left: .5em;
      padding-right: .5em;
      font-style: italic;
    }

    pre {
      font-size: 14px;
      margin-bottom: 2em;

      code {
        padding: 1.5em !important;
        font-style: normal;
        line-height: inherit;
      }
    }

    .main {
      a {
        color: $link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .section {
      margin-bottom: 5em;
    }
  }

  @if $query == 1 {
    pre {
      font-size: 16px;
    }
  }

  @if $query == 2 {
    pre {
      font-size: 18px;
    }
  }
}

// theme-header
@include media-query-asc {
  @if $query == 0 {
    .header {
      background-color: $background-color;
      padding: 2em 0;

      h1 {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .menu {
      ul {
        @include list;
      }

      li {
        margin-bottom: 1em;
      }

      li.is-current a {
        font-weight: bold;
      }

      a {
        text-decoration: none;
      }
    }
  }

  @if $query == 2 {
    .js-menu-switch,
    .js-menu-layer {
      display: none;
    }

    .header {
      h1 {
        font-size: 28px;
        line-height: 40px;
      }
    }

    .menu {
      float: right;

      ul {
        @include clearfix;

        li {
          float: left;

          &:not(:first-child) {
            margin-left: 2em;
          }

          a {
            font-size: 18px;
            line-height: 40px;
            color: $font-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@include media-query-desc {
  @if $query == 1 {
    @include menu (
      $switch-width: 50px,
      $switch-height: 50px,
      $direction: top,
      $is-body-fixed: true,
      $container-width: 100%,
      $container-transition-duration: .3s,
      $container-transition-timing-function: cubic-bezier(.63, -.01, 0, 1),
      $switch-bar-width: 30px, $switch-bar-weight: 2px, $switch-bar-span: 6px, $switch-bar-color: $font-color
    );

    header h1 {
      font-size: 24px;
      width: calc(100% - 100px);
    }

    .menu ul {
      padding-top: 4em;
      padding-left: 4em;

      a {
        font-size: 24px;
        color: #fff;
      }
    }

    .js-menu-switch {
      float: right;
    }
  }
}

@include media-query-asc {
  @if $query == 0 {
    .local-menu {
      margin-top: 1em;

      ul {
        @include list;
        @include clearfix;

        li {
          float: left;
          margin-right: 1.5em;

          a {
            display: block;
            font-size: 14px;
            text-decoration: none;
            position: relative;
            padding-left: 20px;
            color: $link-color;

            &:hover {
              text-decoration: underline;
            }

            &::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              width: 8px;
              height: 8px;
              margin-top: -4px;
              border-top: 2px solid $link-color;
              border-right: 2px solid $link-color;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  @if $query == 1 {
    .local-menu ul li a {
      font-size: 16px;
    }
  }

  @if $query == 2 {
    .local-menu ul li a {
      font-size: 18px;
    }
  }
}

// theme-footer
@include media-query-asc {
  @if $query == 0 {
    .footer {
      font-size: 12px;
      background-color: $background-color;
      padding: 3.5em 0;

      p {
        color: $light-font-color;
        margin-top: 0;
        margin-bottom: .5em;
      }

      a {
        color: $link-color;
      }
    }
  }
  @if $query == 1 {
    .footer {
      font-size: 14px;
    }
  }
  @if $query == 2 {
    .footer {
      font-size: 16px;
    }
  }
}
